@import 'partials/setup';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/typography';

// * {
//     // margin: 0 auto;
// }

body {
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    // background: lightgrey;
    // margin: 0 auto;
}

.wrapper {
    max-width: 1140px;
    padding: 0 2%;
}

a {text-decoration: none;}
a:visited {color: #000;}
section{padding: 60px 0;}
ul {list-style: none;}

.section__header{
    margin: 0 auto;
    border-bottom: 1px solid grey;
    &__portfolio {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
    }
}

.nav {
    position: sticky;
    z-index: 999;;
    top: 0;
    background: #fff;
    padding: 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    &__inner {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        // flex-basis: 30%;
        & h2 {
            margin: 11px 0;
            padding: 4px;
            border: 1px solid black;
            &:hover {
                background: #000;
                transition: 0.4s;
            a {color: #fff;}
            }
        }
        
    }
        
    &__menu {
        display: flex;
        padding-left: 0;
        & li {padding-left: 30px;}
        &__link:hover {border-bottom: 2px solid #000;}
        &__link:active {border-bottom: 2px solid #000;}
    }
}

.nav__logo h2 a:hover{
    color: #fff;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh;
    align-items: center;
    justify-items: center;
    background: #fafafa;

    // background-image: url("https://instagram.fybz2-2.fna.fbcdn.net/vp/730907dccb697026595c1ae8b25e9150/5C2B538F/t51.2885-15/e35/12120526_1656438827975408_197803653_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    // color: #fff;
}

.about {
    &__inner {
        margin: 0 auto;
        max-width: 900px;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;
        grid-gap: 50px;
        // justify-items: center;
        // align-items: center;
    }
    &__image img {max-width: 100%;}
    &__content h2:after {
        height: 5px;
        display: block;
        width: 55px;
        background: #ff0000;
        border-right: 1px white;
        content: '';   
    }
    &__social {
        display: flex;
        padding-left: 0;
        &__individual {
            padding-right: 15px;
        & i {font-size: 1.3rem;}
        &__twitter:hover i {color: #33CCFF}
        &__github:hover i {color: #4875B4}
        &__linkedIn:hover i {color: #ff0000}
        }
    }
}


.skills {
    background: #fafafa;
    &__section__header{
        margin-top: 50px;
        margin-bottom: 50px;}
    &__inner {
        display: grid;
        margin: 0 auto;}
    &__logo {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        &__individual {
            font-size: 5rem;
            margin: 10px;
            & svg {height: 100px;}}
        &__individual:hover {
            transform: scale(1.4);
            transition: 0.6s;}
        &__png img {height: 100px;}
        &__png:hover {
            transform: scale(1.4);
            transition: 0.6s;}
    }
}

.contact {
    background: #fafafa;
    &__inner {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    &__header{
        grid-column-start: 1;
    }
    &__form{
        display: grid;
        padding: 10px;
        & input {
            border: none;
            border-bottom: 1px solid black;
        }
    }

    &__input__container {
        position: relative;}
    &__info{
        display: grid;
        padding: 10px;
    }
}

.contact__input__container input {
    width: 100%
}

.portfolio {
    &__inner {margin: 0 auto}
    &__section__header{
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &__individual {
        display: flex;
        margin: 5% 0;
        box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1);
        align-items: center;
        transition: 0.3s;
        padding: 2%;
        &:hover {
            transform: scale(1.02);
            // box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);}
                box-shadow:0 1px 8px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1);}
    }
    &__image {
        flex: 1;
        padding: 2%;
        & img {max-width: 100%}
    }
    &__description {
        flex: 1;
        padding: 2%}
    &__title {
        font-size: 2rem;
        &:after {
            height: 5px;
            display: block;
            width: 60px;
            background: #ff0000;
            border-right: 1px white;
            content: '';
        }
    }
    &__skills {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        & li {
            margin-right: 10px;
            margin-top: 10px;
            border: 1px solid lightgrey;
            padding: 5px;
            text-transform: uppercase;
        }
    }
    &__reverse {flex-direction: row-reverse}
    &__links {
        display: flex;
        // align-items: center;
        &__live {
            margin-right: 15px;
            border: 1px solid black;
            padding: 5px 10px;
            &:hover { 
                background: #ff0000;
                color: #fff;
                transition: 0.3s;
                border: 1px solid #ff0000;
            }
        }
        &__github {
            font-size: 1.8rem;
            &__logo:hover {
                background: #ff0000;;
                border-radius: 18px;
                color: #fff; 
                // transition: 0.3s;   
            }
        }
    }
}





// MEDIA QUERIES //





@media only screen and (max-width: 800px) {
    .about {
        &__inner {grid-template-columns: 1fr;}
        &__image {
            text-align: center;
            & img {max-width: 60%;}
        }
    }
}


@media only screen and (max-width: 650px) {
    .wrapper {padding: 0 5%;}
    .about__image img {max-width: 80%}
    .portfolio__individual {
        display: grid;
        grid-template-columns: 1fr;
        margin: 30px 0;
    }
    .skills__logo {
        grid-template-columns: repeat(3, 1fr);
        &__individual svg {height: 90px;}
        &__png img {height: 90px}
    }
}



@media only screen and (max-width: 650px) {
    .about__image img {max-width: 70%}
}


@media only screen and (max-width: 550px) {
    .nav__menu li {
        padding-left: 11px;
    }
}

@media only screen and (max-width: 400px) {
    .welcome__content{
        text-align: center;
        padding: 0 10px;}
    .nav__meni li {padding-left: 8px;}
    .about__image img {max-width: 100%}
    .nav__menu__item:first-child {display: none;}
    .skills__logo{
        &__individual svg {height: 70px;}
        &__png img {height: 70px}
    }
}