@import 'partials/setup';
@import 'partials/header';
@import 'partials/footer';

* {
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    text-transform: capitalize;
    // background: lightgrey;
    // margin: 0 auto;
}
.wrapper {
    max-width: 1140px;
    // padding: 0 1%;
}

section{padding: 50px 0;}

.welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh;
    align-items: center;
    justify-items: center;
    background: lightgrey;
}

.about {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


.skills {
    background: lightgrey;
    &__inner {display: grid;}
    &__logo {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        &__individual {
            font-size: 5rem;
            margin: 20px;
        }
    }
}

.contact {
    background: lightgrey;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__header{
        // grid-column-start: 1;
        // grid-column-end: 3;
        // grid-row-start: 1;
        // grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    &__form{display: grid;}
    &__info{display: grid;}
}

.portfolio {
    &__inner{display: grid;}
    // &__container {display: grid}

}

.portfolio__individual {
    display: grid;
    &__image{}
    &__details{}
}





    // <section class="portfolio wrapper">
    //     <h3 class="section__header">recent work</h3>
    //     <article class="portfolio__container">
    //         <div class="portfolio__one">
    //             <div class="portfolio__image"></div>
    //             <div class="portfolio__description">
    //                 <h4 class="portfolio__title">portfolio title</h4>
    //                 <p class="portfolio__details">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis inventore vero perferendis dolorum consequatur nesciunt aliquid hic ex libero ullam, consequuntur debitis nisi repudiandae officia corrupti reiciendis. Voluptatem, magni quis.</p>
    //             </div>
    //         </div>